.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
}

.item:not(:nth-child(3n + 1)) {
  margin-left: 5%;
}
.image {
  margin-bottom: 10px;
}
